@{
    ViewData["Title"] = "GetInTouch";
}

<!--- Get In Touch -->

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">NPS Public Health Update</h1>
            <p class="lead text-center">
                Staying Safe in Parks and Recreating Responsibly.
            </p>
            <p class="lead text-center">
                Visitors are required to wear face masks in federal buildings including visitor centers, historic structures, and museums. When outdoors, face masks are required on NPS-administered lands when physical distance cannot be maintained.
            </p>
            <p>
               Stay connected with national parks across the country with online resources and virtual experiences. <a href="https://www.nps.gov/subjects/npscelebrates/find-your-virtual-park.htm">here.</a>
            </p>

        </div>
    </div>
</div>

<p id='showData'></p>

<p id='msg'></p>
